@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Darker+Grotesque&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Lato", sans-serif;
  background-color: #fff !important;
}
.menu-bar {
  background-color: transparent;
  text-align: center;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0.5% 3%;
  z-index: 999999;
}
#test-nav {
  padding: 0% 4% 0;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 999999999999;
}
.navbar-brand-logo {
  width: 30%;
  text-align: left;
}
.menu-bar ul {
  display: inline-flex;
  color: #fff;
  list-style: none;
  width: fit-content;
  /* padding: 1%; */
}
.menu-bar ul li {
  width: 120px;
  /* margin:0px 15px; */
  padding: 25px;
  cursor: pointer;
}
.menu-bar ul li a {
  text-decoration: none;
  color: #fff;
}
.menu-bar ul li:hover,
.active {
  background: #18244c;
}
.menu-bar ul li:hover:last-child {
  background: none;
}
.sub-menu-1 {
  width: 100%;
  display: none;
  animation: submenu 500ms ease-in-out;
  padding: 1%;
}
@keyframes submenu {
  0% {
    transform: translateY(-40%);
  }
  100% {
    transform: translateY(0);
  }
}
.menu-bar ul li:hover .sub-menu-1 {
  transition: 2000ms;
  display: block;
  position: absolute;
  width: 100%;
  right: 0;
  left: 0;
  margin-top: 25px;
  background: #18244c;
  cursor: pointer;
}
.sub-menu ul {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}
.sub-menu-1 ul li {
  width: 310px;
  /* padding: 2%; */
  padding: 10px;
}
.sub-menu-1 ul li a {
  font-size: 17px;
}
.sub-menu-1 ul li:hover {
  /* background-color: #ff9e00; */
  border: 2px solid #41e09b;
  font-weight: 600;
}
#nav-logo {
  width: 55%;
}
.menu-1 {
  margin-bottom: 1%;
}
@media only screen and (max-width: 1000px) {
  .main-menu-element {
    width: 100px;
  }
  #nav-logo {
    width: 65%;
  }
  .sub-menu-1 ul li {
    width: 180px;
  }
}
@media only screen and (max-width: 850px) {
  #nav-logo {
    width: 65%;
  }
  .menu-bar ul li {
    width: 80px;
    padding: 25px 15px;
    margin: 0 10px;
  }
  .sub-menu-1 ul li {
    width: 140px;
  }
}
@media only screen and (max-width: 700px) {
  #nav-logo {
    width: 75%;
  }
  .menu-bar ul li {
    width: 80px;
    padding: 25px 15px;
    margin: 0 10px;
  }
}
@media only screen and (max-width: 500px) {
  .scroll-para {
    left: -12%;
  }
}
Body::-webkit-scrollbar {
  display: none;
}
#landing-hero {
  height: 100vh;
  width: 100%;
}
#hero-img-div {
  height: 90%;
  background: url(CAssets/BackgroundImage.png);
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 1;
}
@media only screen and (max-width: 900px) {
  #hero-img-div video {
    display: none;
  }
  #hero-img-div {
    height: 100%;
  }
}
#hero-img-div video {
  width: 100%;
  height: fit-content;
}
div#bottom-scroll {
  position: absolute;
  z-index: 3;
  bottom: 3%;
  right: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
#mouse-scroll-gif {
  width: 60px;
}
.m12 {
  color: #f0f0f0;
}
div#lading-page-text {
  position: absolute;
  top: 35%;
  left: 10%;
}
p#landing-text-main {
  color: #ff9e00;
  font-size: 380%;
  font-family: "Poppins", sans-serif;
  line-height: 100%;
  font-weight: 600;
}
p#landing-text-main span {
  color: #f0f0f0;
  font-size: 70%;
}
p#landing-text-para {
  color: #f0f0f0;
  width: 60%;
  font-size: 18px;
  line-height: 30px;
}
/* products categories section */
#products-categories {
  padding: 2% 4%;
  margin: 0 0 0% 0;
}
p#categories-head {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  color: #264b8a;
  text-align: center;
}
.row {
  width: 100%;
  margin: 0;
}
.product-div {
  padding: 2%;
  position: relative;
}
.category-img {
  width: 100%;
  border-radius: 12px;
  position: relative;
  z-index: 1;
}

#foot-nav-head,
#con-foot-head {
  font-weight: 600;
}
.category-name {
  text-align: center;
  color: #264b8a;
  font-size: 20px;
  margin: 2% 1%;
  /* visibility: hidden; */
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.category-box:hover {
  border: 5px solid #264b8a;
  border-radius: 15px;
}
#products-home {
  padding: 4% 3% 2%;
}
.product-img-home:hover {
  opacity: 0.6;
  cursor: pointer;
}
.product-name {
  font-size: 18px;
  color: #264b8a;
  font-weight: 500;
  /* visibility: ; */
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center !important;
  opacity: 1 !important;
  margin-top: 2%;
  transition: 1s;
}
.product-box-home:hover {
  cursor: pointer;
  /* background-color: #25d366; */
  border: 5px solid #264b8a;
}
/* border: 5px solid #264b8a; */

#qt-home,
#whh {
  /* background-color: #fff; */
  padding: 2% 4% 4%;
  height: 730px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

#qt-home-right,
#whh-right {
  width: 430px;
  background-color: #caf0f8;
  padding: 3%;
  align-self: flex-end;
  border-radius: 12px;
  z-index: 1;
  margin-left: -3%;
}
#whh-right {
  width: 480px;
}
#whh-left {
  width: 380px;
  height: 400px;
  align-self: flex-start;
  border-radius: 12px;
  background: url(CAssets/quality.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: -1;
}
#qt-home-left {
  width: 380px;
  height: 400px;
  align-self: flex-start;
  border-radius: 12px;
  background: url(CAssets/quality.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: -1;
}
#qt-home-head,
#whh-head {
  font-size: 22px;
  color: #000;
  font-weight: 600;
}
#qt-text {
  font-size: 18px;
  color: #6c757d;
}
#qt-home button,
#whh button {
  background-color: #d62828;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  color: #e5e5e5;
  padding: 1.5%;
  font-size: 18px;
  border-radius: 8px;
  font-weight: 500;
}
#med-navBar {
  display: none;
}
@media only screen and (max-width: 650px) {
  #test-nav {
    display: none;
  }
  #med-navBar {
    display: block;
  }
  #products-categories {
    margin-top: 15% !important;
  }
}
@media only screen and (max-width: 700px) {
  #qt-left,
  #whh-left {
    width: 250px;
    height: 250px;
  }
  #qt-home-right,
  #whh-right {
    width: 300px;
  }
  .category-name {
    font-size: 16px;
  }
  .product-name {
    font-size: 16px;
  }
}
@media only screen and (max-width: 600px) {
  #qt-home,
  #whh {
    height: fit-content;
    flex-direction: column;
  }
  #qt-home-left,
  #whh-left {
    align-self: center;
    width: 270px;
    height: 270px;
    width: 90%;
    border-radius: none !important;
  }
  #qt-home-right,
  #whh-right {
    align-self: center;
    margin-left: 0;
    width: 270px;
    width: 90%;
    padding: 5%;
    border-radius: none !important;
  }
}
/* medium navbar styles */
#med-navBar {
  background-color: transparent;
  z-index: 999;
}
#med-nav-logo {
  width: 45%;
}
@media only screen and (max-width: 500px) {
  #med-nav-logo {
    width: 55%;
  }
  p#landing-text-para {
    width: 80%;
  }
}
@media only screen and (max-width: 400px) {
  #med-nav-logo {
    width: 70%;
  }
}
.nav-item {
  margin-top: 2%;
}
.nav-item:hover {
  background-color: #264b8a;
  border-radius: 12px;
}
.nav-item a {
  text-align: center;
}
@media only screen and (max-width: 850px) {
  p#landing-text-main {
    color: #ff9e00;
    font-size: 300%;
    font-family: "Poppins", sans-serif;
    line-height: 100%;
    font-weight: 600;
  }
  p#landing-text-main span {
    color: #f0f0f0;
    font-size: 70%;
  }
}
.strength-content-dropdown {
  width: 70% !important;
}
.pop-logo {
  width: 30%;
}
#whats-app-div {
  position: fixed;
  z-index: 9999999999999;
  bottom: 5%;
  right: 5%;
  background-color: #25d366;
  padding: 4px 8px;
  border-radius: 36px;
  border: 3px solid #f0f0f0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
#whats-app-icon {
  width: 32px;
  margin: 4px;
}
#whats-app-div span {
  color: #f0f0f0;
  font-size: 18px;
}
@media only screen and (max-width: 900px) {
  #whats-app-icon {
    width: 24px !important;
  }
  #whats-app-div span {
    font-size: 14px;
  }
}
/* animations css styles */
section#products-categories .animate-left {
  transform: translateX(-100%);
}
section#products-categories.show-animate .animate-left {
  transform: translateX(0);
}
section#products-categories .animate-left {
  transition: 1s;
}
section#products-categories .animate-center {
  transform: scale(0.8);
}
section#products-categories.show-animate .animate-center {
  transform: scale(1);
}
section#products-categories .animate-center {
  transition: 1s;
}
section#products-categories .animate-right {
  transform: translateX(100%);
}
section#products-categories.show-animate .animate-right {
  transform: translateX(0);
}
section#products-categories .animate-right {
  transition: 1s;
}

section#abt-home .animate {
  transform: translateY(100%);
}
section#abt-home.show-animate .animate {
  transform: translateY(0);
}
section#abt-home .animate {
  transition: 1s;
}
section {
  overflow-x: hidden;
  overflow-y: hidden;
}
section#whh .animate {
  transform: translateX(-100%);
}
section#whh.show-animate .animate {
  transform: translateX(0);
}
section#whh .animate {
  transition: 1s;
}
section#footer .animate {
  transform: translateY(100%);
}
section#footer.show-animate .animate {
  transform: translateY(0);
}
section#footer .animate {
  transition: 1s;
}
section#products-home .animate {
  transform: translateY(100%);
}
section#products-home.show-animate .animate {
  transform: translateY(0);
}
section#products-home .animate {
  transition: 1s;
}

section#qt-home .animate {
  transform: translateY(100%);
}
section#qt-home.show-animate .animate {
  transform: translateY(0);
}
section#qt-home .animate {
  transition: 1s;
}
/* about us page animations and transitions */
section#about-text .animate {
  transform: translateX(-100%);
}
section#about-text.show-animate .animate {
  transform: translateX(0);
}
section#about-text .animate {
  transition: 1s;
}
section#who-we-are .animate {
  transform: translateX(100%);
}
section#who-we-are.show-animate .animate {
  transform: translateX(0);
}
section#who-we-are .animate {
  transition: 1s;
}

section#protective-coating .animate-left,
section#coating-gaskets .animate-left {
  transform: translateX(-100%);
}
section#protective-coating .animate-right,
section#coating-gaskets .animate-right {
  transform: translateX(100%);
}
section#protective-coating.show-animate .animate-left,
section#protective-coating.show-animate .animate-right,
section#coating-gaskets.show-animate .animate-left,
section#coating-gaskets.show-animate .animate-right {
  transform: translateX(0);
}
section#protective-coating .animate-left,
section#coating-gaskets .animate-left,
section#protective-coating .animate-right,
section#coating-gaskets .animate-right {
  transition: 1s;
}
section#RTJ-types .animate-left {
  transform: translateX(-100%);
}
section#RTJ-types .animate-right {
  transform: translateX(100%);
}
section#RTJ-types .animate-center {
  transform: scale(0.6);
}
section#RTJ-types.show-animate .animate-left,
section#RTJ-types.show-animate .animate-right {
  transform: translateX(0);
}
section#RTJ-types.show-animate .animate-center {
  transform: scale(1);
}
section#RTJ-types .animate-left,
section#RTJ-types .animate-right,
section#RTJ-types .animate-center {
  transition: 1s;
}
section#semi-metallic-products .animate {
  transform: translateX(-100%);
}
section#semi-metallic-products.show-animate .animate {
  transform: translateX(0);
}
section#semi-metallic-products .animate {
  transition: 1s;
}
section#actual-products .animate {
  transform: translateY(100%);
}
section#actual-products.show-animate .animate {
  transform: translateY(0);
}
section#actual-products.show-animate .animate {
  transition: 1s;
}
section#semi-metallic-hero .animate {
  transform: translateX(100%);
}
section#semi-metallic-hero.show-animate .animate {
  transform: translateX(0);
}
section#semi-metallic-hero .animate {
  transition: 1s;
}

section#RTJ-types .animate {
  transform: translateX(100%);
}
section#RTJ-types.show-animate .animate {
  transform: translateX(0);
}
section#RTJ-types .animate {
  transition: 1s;
}

section#actual-products .animate {
  transform: translateY(100%);
}
section#actual-products.show-animate .animate {
  transform: translateY(0);
}
section#actual-products .animate {
  transition: 1s;
}
section#strengths .animate {
  transform: translateY(100%);
}
section#strengths.show-animate .animate {
  transform: translateY(0);
}
section#strengths .animate {
  transition: 1s;
}
section#semi-metallic-products .animate {
  transform: translateX(-200%);
}
section#semi-metallic-products.show-animate .animate {
  transform: translateX(0);
}
section#semi-metallic-products .animate {
  transition: 1s;
}

section#semi-metallic-products .animate-left {
  transform: translateX(-100%);
}
section#semi-metallic-products.show-animate .animate-left {
  transform: translateX(0);
}
section#semi-metallic-products .animate-left {
  transition: 1s;
}
section#semi-metallic-products .animate-center {
  transform: scale(0.8);
}
section#semi-metallic-products.show-animate .animate-center {
  transform: scale(1);
}
section#semi-metallic-products .animate-center {
  transition: 1s;
}
section#semi-metallic-products .animate-right {
  transform: translateX(100%);
}
section#semi-metallic-products.show-animate .animate-right {
  transform: translateX(0);
}
section#semi-metallic-products .animate-right {
  transition: 1s;
}

#contact-image-section {
  height: 70vh;
  width: 100%;
  position: relative;
  top: 0;
  right: 0;
  left: 0;
  z-index: -1;
  background-image: url(CAssets/contact\ img.jpeg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
#contact-landing-text-div {
  position: absolute;
  top: 35%;
  left: 10%;
  z-index: 1;
}
#contact-landing-head {
  color: #f0f0f0;
  font-size: 300%;
  font-weight: 600;
  margin-bottom: 0;
}
#contact-landing-text {
  color: #f0f0f0;
  font-size: 140%;
}
#Dealership {
  padding: 8% 4% 4%;
}
#contact-form-head {
  color: #2a2a2a;
  font-size: 140%;
  font-weight: 600;
  text-align: left !important;
}
#actual-products-section-row {
  padding: 2% 3%;
}
.product-box-div,
.metallic-products-individual,
.semi-metallic-gasket-div {
  background-color: #dceef1;
  border: 1px solid #264b8a;
  margin-bottom: 15%;
  background: url(CAssets/strBG.png);
  cursor: pointer;
  transition: 0s;
}
.product-box-div:hover,
.metallic-products-individual:hover,
.semi-metallic-gasket-div:hover {
  border: 5px solid #264b8a;
}

.product-img-individual,
.metallic-product-img,
.semi-gasket-image {
  width: 100%;
  border-radius: none;
}
.product-name-individual,
.metallic-gasket-head,
.semi-meatllic-gasket-name {
  font-size: 22px;
  color: #264b8a;
  font-weight: 600;
  text-align: left;
  margin-bottom: 0;
  padding: 2% 6%;
}
.product-text-individual,
.metallic-gasket-text,
.semi-metallic-gasket-text {
  text-align: left;
  color: #6c757d;
  padding: 2% 6%;
  margin-bottom: 0;
  font-size: 21px;
  font-family: "Darker Grotesque", sans-serif;
  font-weight: 600;
}
.btn-prd {
  margin: 2% 6% 4%;
  border: none;
}
.btn-prd:hover {
  background-color: #ff9e00;
  color: #2a2a2a;
}
#semi-metallic-products {
  padding: 2% 4%;
}
#ind-product-name,
#spiral-wound-main-head,
#sm-main-head {
  color: #264b8a;
  font-weight: bold;
  font-size: 22px;
}
#sm-text {
  color: #2a2a2a;
  font-size: 18px;
}
.scroll-para {
  transform: rotate(-90deg);
  position: absolute;
  z-index: 99999999;
  bottom: 100px;
  left: -3%;
  text-align: center;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.scroll-span-text {
  color: #fff;
  font-size: 20px;
  font-weight: 500;
  font-family: "Darker Grotesque", sans-serif;
  word-spacing: 12px;
}
.scroll-span-line {
  width: 2px;
  height: 50px;
  background-color: #fff;
  display: inline-block;
  transform: rotate(-90deg);
  margin: 6px 32px;
}
#test-nav.sticky,
#nv-sm.sticky {
  background: #18244c;
  position: sticky;
  transition: 0.5s;
}
#test-nav.navBarFixed,
#nv-sm.navBarFixed {
  position: fixed;
  padding: 0 3%;
  transition: 0.5s;
}
#logo-blue {
  display: none;
}
@media only screen and (min-width: 900px) {
  section#actual-products .animate-left {
    transform: translateX(-100%);
  }
  section#actual-products .animate-right {
    transform: translateX(100%);
  }
  section#actual-products.show-animate .animate-left,
  section#actual-products.show-animate .animate-right {
    transform: translateX(0);
  }
  section#actual-products .animate-left,
  section#actual-products .animate-right {
    transition: 1s;
  }

  section#actual-products .animate-center {
    transform: scale(0.5);
  }
  section#actual-products.show-animate .animate-center {
    transform: scale(1);
  }
  section#actual-products .animate-center {
    transition: 1s;
  }
}
#loader-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1001;
}
#loader-wrapper .loader-section {
  position: fixed;
  top: 0;
  width: 51%;
  height: 100%;
  background: #fff;
  z-index: 1000;
  -webkit-transform: translateX(0);
  transform: translateX(0);
}
#loader-wrapper .loader-section.section-left {
  left: 0;
}
#loader-wrapper .loader-section.section-right {
  right: 0;
}
#loader {
  display: block;
  position: relative;
  left: 50%;
  top: 50%;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #3498db;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
  z-index: 99999;
}
#loader:before {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #e74c3c;
  -webkit-animation: spin 3s linear infinite;
  animation: spin 3s linear infinite;
}
#loader:after {
  content: "";
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #f9c922;
  -webkit-animation: spin 1.5s linear infinite;
  animation: spin 1.5s linear infinite;
}
.loaded #loader-wrapper {
  visibility: hidden;
  -webkit-transform: translateY(-100%);
  transform: translateY(-100%);
  -webkit-transition: all 0.3s 1s ease-out;
  transition: all 0.3s 1s ease-out;
}
.loaded #loader-wrapper .loader-section.section-left {
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
  -webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}
.loaded #loader-wrapper .loader-section.section-right {
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
  -webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}
.loaded #loader {
  opacity: 0;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.loaded #loader-wrapper {
  visibility: hidden;
  transform: translateY(-100%);
}
.loaded #loader {
  opacity: 0;
}
.str-box:hover {
  border: 5px solid #264b8a;
}
section#vm {
  padding: 2% 0;
}

#RTJ-prd-img {
  width: 60%;
}
.prd-text-side {
  background: url(CAssets/strBG.png);
  text-align: left;
}
section#wh-v2 {
  /* padding: 3% 4%; */
  background-color: #18244c;
  color: #fff;
  margin: 2% 0;
}
#wh-v2-left {
  /* background-color: #25d366; */
  padding: 3%;
  text-align: left;
  /* background: url(CAssets/EXP.jpg); */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
#wh-v2-img {
  width: 100%;
  height: 100%;
}
#wh-v2-right {
  padding: 4% 3%;
}
.wh-v2-head {
  font-size: 24px;
  font-weight: 600;
}
.wh-v2-text {
  color: #d5d5d5;
  font-size: 19px;
}
section#wh-v2 .animate-left,
section#qa-v2 .animate-left {
  transform: translateX(-100%);
}
section#wh-v2.show-animate .animate-left,
section#qa-v2.show-animate .animate-left {
  transform: translateX(0);
}
section#wh-v2 .animate-left,
section#qa-v2 .animate-left {
  transition: 1s;
}
section#wh-v2 .animate-right,
section#qa-v2 .animate-right {
  transform: translateX(100%);
}
section#wh-v2.show-animate .animate-right,
section#qa-v2.show-animate .animate-right {
  transform: translateX(0);
}
section#wh-v2 .animate-right,
section#qa-v2 .animate-right {
  transition: 1s;
}
section#qa-v2 {
  margin: 4% 0 8%;
  background-color: #18244c;
  color: #fff;
}
#qa-v2-right {
  /* background: url(CAssets/EXP.jpg); */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 3%;
}
#qa-v2-right img {
  height: 100%;
  width: 100%;
}
#qa-v2-left {
  padding: 4%;
}
.qa-v2-head {
  font-size: 20px;
  font-weight: 600;
}
.qa-v2-text {
  color: #d5d5d5;
  font-size: 18px;
}
#water-mark-footer {
  opacity: 0.1;
  position: absolute;
  right: 70px;
  bottom: 10px;
  width: 30%;
}
.footer-link-products {
  display: block;
  color: #f0f0f0;
  text-decoration: none;
  margin: 5% 0;
  z-index: 999999;
}
.footer-link-products:hover {
  color: #3498db;
}
.prd-footer-head {
  color: #fff;
  font-size: 24px;
  font-weight: 600;
}
#contact-foot,
#con-links-box {
  margin-top: 2%;
  width: 30%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
#brochure-download {
  margin-top: 200px;
  text-decoration: none;
}
#right-most a {
  text-decoration: none;
  background-color: #dceef1;
  padding: 4%;
  color: #264b8a;
  border-radius: 8px;
  font-size: 20px;
  font-weight: 600;
}
#foot-download-icon {
  font-weight: bold;
}
.main-menu-element.change {
  color: #264b8a;
}
section#prd-v2-section {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: #18244c !important;
}
.prd-v2 {
  width: 100%;
  background-color: #18244c;
  flex-direction: row;
  display: flex;
  align-items: center;
  /* justify-content: center; */
  /* margin: 2% 0; */
  /* border: ; */
  /* background-color: #25d366; */
}
.prd-v2-img {
  width: 70%;
  height: 70%;
  padding-top: 3%;
  border-radius: 22px;
  border-top-right-radius: 42px;
  border-top-left-radius: 42px;
}
.prd-img-side {
  padding: 4%;
}
.prd-v2-right {
  padding: 4% 8%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  background-color: #18244c;
  color: #fff;
}
.prd-v2-head {
  font-size: 24px;
  font-weight: 600;
}
.prd-v2-text {
  margin-top: 3%;
  font-size: 18px;
}
.prd-v2-right button {
  color: #264b8a;
  background-color: #f0f0f0;
  padding: 2%;
  border: none;
  font-weight: 600;
  border-radius: 8px;
}
section#prd-v2-section .animate-left {
  transform: translateX(-100%);
}
section#prd-v2-section .animate-right {
  transform: translateX(100%);
}
section#prd-v2-section.show-animate .animate-left,
section#prd-v2-section.show-animate .animate-right {
  transform: translateX(0);
}
section#prd-v2-section .animate-left,
section#prd-v2-section .animate-right {
  transition: 1s;
}
p.touch-head {
  font-size: 27px;
  font-weight: 600;
  color: #f0f0f0;
  text-align: center;
  margin-bottom: 3%;
}
.touch form {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
#touch-form {
  position: relative;
}
#touch-mail {
  margin-bottom: 0 !important;
  padding: 0;
  border-radius: 0;
}
#touch-submit {
  background-color: #41e09b;
  /* color: #264b8a; */
  border-radius: 100%;
  font-size: 18px;
  font-weight: 600;
  padding: 8px 12px;
  border: none;
  position: absolute;
  right: 10px;
  /* border-radius: 8px; */
  font-size: 22px;
}
#touch-submit:hover {
  background-color: #ff9e00;
  color: #f0f0f0;
}
#touch-form input {
  padding: 0.8%;
  /* border-radius: 6px; */
  border: 1px solid #f0f0f0;
  background-color: transparent;
  color: #2a2a2a;
  padding: 13px 18px;
  background-color: #f0f0f0;
  /* margin: 0 3%; */
  font-size: 18px;
  width: 60%;
}
@media only screen and (max-width: 770px) {
  #touch-submit {
    position: unset;
    border-radius: 0;
  }
  #touch-form input {
    border-radius: 0 !important;
  }
}
#touch-form input:first-child {
  padding: 13px 18px;
  border-radius: 50px 0 0 50px;
  border-right: 1px solid #2a2a2a;
}
#touch-mail {
  border-right: 1px solid #2a2a2a !important;
  padding: 13px 18px !important;
}
#touch-company-name {
  padding: 15px 20px;
  border-radius: 0 50px 50px 0;
  border-right: 2px solid #2a2a2a;
}
#touch-form input::placeholder {
  color: #6a6a6a;
}
#touch-form input:focus {
  outline: none;
}
.social-icon {
  text-decoration: none;
  margin: 1% 3%;
}
.social-icon-img {
  width: 32px;
}
section.ind-product-text-div {
  padding: 0% 5% 3%;
}
.ind-product-head {
  font-size: 22px;
  font-weight: 600;
  color: #2a2a2a;
}
p.ind-product-text-ext {
  color: #6c757d;
  font-size: 19px;
}
p.ind-product-text-ext span {
  font-weight: 600;
  color: #264b8a;
}
.lds-dual-ring {
  display: inline-block;
  width: 80px;
  height: 80px;
  z-index: 9999999999999999999;
  position: relative;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #fff;
  border-color: #fff transparent #fff transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@media only screen and (max-width: 600px) {
  .touch form {
    flex-direction: column;
  }
  #touch-form input,
  #touch-submit {
    margin-top: 5%;
    width: 90%;
  }
  #touch-submit {
    margin-bottom: 5%;
  }
}
#contact-btn-nav {
  background-image: linear-gradient(to right, #41e09b 50%, #41e5d8 100%);
  padding: 13%;
  border-radius: 8px;
}
table {
  width: 100%;
  text-align: center;
  /* padding: 4% 0; */
}
th {
  background-color: #18244c;
  color: #f0f0f0;
  padding: 1.5%;
}
td {
  background-color: #eee;
  padding: 1%;
  border: 1px solid #2a2a2a;
}
#benefits {
  padding: 2% 0 0;
  margin-bottom: 0;
}
#extra-points li {
  font-size: 19px;
  color: #6c757d;
  padding: 8px 0 0;
}
#extra-points li span {
  font-weight: 600;
}
#abt-us-head {
  text-align: center;
  font-size: 22px;
  color: #264b8a;
  font-weight: 600;
  margin-bottom: 1%;
}
table#spiral-table {
  width: 60%;
}
@media only screen and (max-width: 850px) {
  table#spiral-table {
    width: 100%;
  }
}
.nav-icon {
  width: 22%;
  margin: 4px;
}
.line {
  display: block;
}
